<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui necessitatibus praesentium nostrum libero expedita
      officiis, quibusdam veritatis vero deserunt delectus quia voluptatum eos animi incidunt nisi nihil reiciendis
      earum maxime nobis officia quaerat odio eum? Hic aperiam aliquid odit suscipit? Distinctio architecto nam
      voluptate libero quaerat laborum mollitia neque inventore, exercitationem doloremque quisquam aut magni quas
      soluta error dolorem fugit. Voluptatem fugit ipsum quos molestias reprehenderit itaque enim quae a neque dicta?
      Unde molestias vel quia. Repellendus expedita eum dolor omnis velit magnam delectus itaque possimus dolores, quasi
      et voluptates. Repellat libero magnam adipisci quo iste quam fugiat atque aut dignissimos temporibus ad minima
      provident ipsa, doloribus possimus deleniti optio obcaecati ea veritatis voluptas! Placeat ipsa, voluptatum omnis,
      deserunt reprehenderit officiis maxime sapiente fuga, magni vitae ducimus ad consequatur. Deleniti laboriosam
      expedita veritatis aperiam! Voluptas ex suscipit, quia, quasi aliquid qui eveniet assumenda iure repudiandae
      aspernatur dolore aliquam sapiente obcaecati, quae ea doloremque. Ullam quia velit ipsa! Quos dolores fugit
      quibusdam placeat laudantium totam perspiciatis harum ex illo velit quidem nostrum error ad tempora quaerat
      exercitationem natus a maiores, blanditiis dignissimos ducimus, maxime vitae magnam! Saepe, sint vel culpa ipsam
      animi quasi libero consequuntur aut provident harum nobis, exercitationem fugiat quas laboriosam numquam
      reprehenderit. Repellendus, saepe. Unde nesciunt perspiciatis delectus illo, laudantium consequatur eligendi vitae
      quod error pariatur. Corporis voluptas aut quae natus, praesentium enim cupiditate esse magnam quo nesciunt
      laboriosam corrupti necessitatibus beatae harum pariatur eius repellat quos dolorem sed possimus temporibus
      asperiores vitae eveniet. Culpa alias facere nemo ipsa iure consequuntur. Ex a, optio dolor temporibus libero
      nihil. Sunt aspernatur perferendis voluptatum vel, ex sint modi laudantium, tempore quia, repellendus quaerat
      natus. Sequi voluptas iure deleniti explicabo ipsam quis velit labore sapiente eaque ipsum quos autem, corrupti
      fugiat suscipit placeat cum laborum eligendi officiis nobis ullam, aperiam excepturi quaerat aliquam praesentium.
      Optio, eum commodi! Vero architecto voluptatem dolorum aliquid? Earum, provident atque? Excepturi magnam quaerat
      dolorum suscipit tempore voluptate quam pariatur voluptates! Doloremque expedita odio ad tenetur reiciendis qui
      eveniet error inventore ea facilis dicta itaque iste, voluptas ducimus possimus vel maxime totam eos veritatis est
      nostrum. Autem suscipit velit explicabo, provident ducimus non sed fuga odio et officiis at aliquam molestias quae
      quam asperiores earum cum! Excepturi facilis beatae eos cum impedit voluptatum, necessitatibus quibusdam ipsam
      reiciendis aut sint praesentium eligendi id blanditiis qui repudiandae animi sequi itaque aspernatur. Similique
      repellat atque sed cum id nemo dignissimos?</p>
  </div>
</ion-content>